<script type="text/javascript">
  var stompUrl = "<%= stomp_url %>";
</script>

<script id="post-template" type="text/x-handlebars-template">
  <p class="alert {{status}}">{{title}}</p>
</script>

<h1>Hello, World!</h1>
<p class='lead'>This is a demonstration of a working Torquebox HA-Cluster setup</p>

<div class="row">
  <div class="span6 message_container"></div>
  <div class='loading icon-spinner icon-spin icon-2x'></div>
</div>
